.bb{
    width: 180px;
    height:180px;
}
.bbb{
    width: 180px;
    height: 180px;
}
    .pp{
        width: 180px;
        height: 180px;
    }
    .mm{
        width: 180px;
        height: 180px;
    }